*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header nav{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	height: 100%;
	align-items: center;
}

header a{
	text-decoration: none;
}

header a, i{
	font-size: 22px;
}

header #menu a{
	padding: 5px;
	margin: 5px;
}

header #menu a:hover{
	color: #FF7800;
}

#icon .fa-bars{
	display: none;
}

header #icon i{
	margin: 0 5px;
	padding: 10px;
	background: #F1F3F4;
	border-radius: 5px;
}

header #icon i:hover{
	background: #FF7800;
}

.fa-shopping-basket{
	color: #FF7800;
	font-size: 30px;
}

header{
	position: fixed;
	height: 50px;
	background: #FFFFFF;
	top: 0;
	right: 0;
	left: 0;
}

@media screen and (max-width: 900px) {
  #icon .fa-bars{
  	display: inline-block;
  }

  #menu a{
  	display: block;
  }

  #menu{
  	position: absolute;
  	top: 55px;
  	right: 90px;
  	background: #F1F3F4;
  	width: 20%;
  }
}
