*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

				/*HEADER*/

header{
	/*position: fixed;*/
}
#mainheader{
	position: fixed;
	display: flex;
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
	right: 0;
	left: 0;
	align-self: center;
}

#mainheader li{
	list-style: none;
}

#mainheader li a, #mainheader a{
	text-decoration: none;
}

#logo a{
	font-size: 25px;
}

#logo i{
	color: #FF7800;
}

#mainheader #middle ul{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#mainheader #middle ul li a{
	font-size: 20px;
}

#mainheader #head_logo ul{
	display: flex;
	justify-content: space-evenly;
}

#mainheader #logo{
	width: 20%;
	align-self: center;
}

#mainheader #middle{
	width: 60%;
	align-self: center;
}

#mainheader #head_logo{
	width: 20%;
	align-self: center;
}