*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#mainheader{
	display: flex;
	padding: 20px 9%;
	justify-content: space-between;
}

#mainheader #middle ul{
	display: flex;
	width: 80%;
}

#mainheader #middle, #logo, #head_logo{
	align-self: center;
}

#mainheader #head_logo ul{
	display: flex;
}


#mainheader li, a{
	list-style: none;
	text-decoration: none;
}

#mainheader a{
	padding: 10px;
	margin: 10px;
	font-size: 20px;
}

#head_logo i{
	font-size: 20px;
	padding: 8px;
	margin: 8px;
	background: #F1F3F4;
}

@media only screen and (max-width: 900px) {
  #mainheader #middle ul{
  	display: block;
  	position: fixed;
  	transform: translateX(100%);
  }
}




