*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*HEADER*/

header{
	background: #87509C;
	min-height: 400px;
}

#main_header{
	width: 90%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.fa-bars{
	display: none;
}

#main_header nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
}

#main_header #menu a{
	text-decoration: none;
	margin: auto 10px;
	color: #fff;
	padding: 5px;
}

#menu a:hover{
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}

#main_header h3{
	width: 70%;
	text-align: center;
	margin: 60px auto;
	font-size: 40px;
	color: #fff;
}

#main_header p{
	text-align: center;
}

#main_header p a{
	background: #EB7D4B;
	padding: 20px 30px;
}





